.body{
    background-image: url(https://i.pinimg.com/originals/ef/a3/c6/efa3c654a8950588d11e457c7b3b93e2.jpg);
    font-family: 'Karla', sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    
}

.header{
    background-color: #EF6F6C;
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
    margin-top:  45px;
    height: 80px;
    text-justify: center;
    padding-top: 15px;
    font-size: 3em;
    color: whitesmoke;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.parent{
    height: 800px;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1{
    width: 32%;
    height: 80%;
    background-color: #EF6F6C;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tmpText{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size:80%;  
}

li{
    margin-top: 10px;
}

span{
    font-size: 1em;
    margin-right: 20px;
}

.condition{
    font-size:80%;
    margin-bottom: 20px;
}

.current{
    font-size:80%;
}

.degrees{
    margin-top: 10px;
    font-size: 80%;
}

.toDoForm{
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
}

.textBox{
    width: 65%;
    height: 32px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(102, 100, 100);    
}

.weatherBox{
    height: 32px;
    width: 12ch ;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px; 
    color: rgb(102, 100, 100);       
}

.weatherForm{
    padding-top: 10px;
}

.box2{
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.inside1{
    background-color: #EF6F6C;
    height: 45%;
    border-radius: 30px;
    text-align: center;
    font-size: 1.75em;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.inside2{
    background-color: #EF6F6C;
    height: 45%;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.weatherHolder{
    display: flex;
    height: 75%;
    flex-direction: column;
    padding-top: 15px;
}

.weatherReport{
    height: 25%;
}

.condition{
    height: 75%;
}

img{
    height: 85%;
}


.itemList{
    height: 80%;
    background-color: #EF6F6C;
    margin-top: 20px;
}

.weather{
    height: 80%;
    background-color: red;
    margin-top: 10px;
}

.quote{
    background-color: #EF6F6C;
    height: 80%;
    margin-top: 7%;
}

blockquote{
    color: whitesmoke;
    font-size: 1.3vw;
}

button {
    min-width: 100px;
    min-height: 20px;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 450;
    color: #313133;
    background: #555e5d;
    background: linear-gradient(90deg, rgb(249, 246, 246) 0%, rgb(201, 199, 199) 100%);
    border: none;
    border-radius: 100px;
    box-shadow: 8px 8px 20px rgb(188, 185, 185);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left: 10px;
    }
  
  button::before {
    content: '';
    border-radius: 500px;
    min-width: calc(100px + 12px);
    min-height: calc(30px + 8px);
    border: 4px solid gray;
    box-shadow: 0 0 60px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  button:hover, button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 0;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 1px solid thin gray;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 60px;
      height: 60px;
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  }