.body{
    background-image: url(https://i.pinimg.com/originals/ef/a3/c6/efa3c654a8950588d11e457c7b3b93e2.jpg);
    font-family: 'Karla', sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    
}

.header{
    background-color: #EF6F6C;
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
    margin-top:  65px;
    height: 80px;
    text-justify: center;
    padding-top: 15px;
    font-size: 3em;
    color: whitesmoke;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.parent{
    height: 800px;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1{
    width: 32%;
    height: 80%;
    background-color: #EF6F6C;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tmpText{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size:80%;  
}

li{
    margin-top: 10px;
}

span{
    font-size: 1.5em;
    margin-right: 20px;
}

.condition{
    font-size:80%;
    margin-bottom: 20px;
}

.current{
    font-size:80%;
}

.degrees{
    margin-top: 10px;
    font-size: 80%;
}

.toDoForm{
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
}

.textBox{
    width: 65%;
    height: 32px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(102, 100, 100);    
}

.weatherBox{
    height: 32px;
    width: 12ch ;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px; 
    color: rgb(102, 100, 100);    
   
}

.box2{
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.inside1{
    background-color: #EF6F6C;
    height: 45%;
    border-radius: 30px;
    text-align: center;
    font-size: 1.75em;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.inside2{
    background-color: #EF6F6C;
    height: 45%;
    border-radius: 30px;
    border: darkgrey solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.itemList{
    height: 80%;
    background-color: #EF6F6C;
    margin-top: 20px;
}

.weather{
    height: 80%;
    background-color: red;
    margin-top: 10px;
}

.quote{
    background-color: #EF6F6C;
    height: 80%;
    margin-top: 7%;
}

blockquote{
    color: whitesmoke;
    font-size: 1.3vw;
}

button {
    background: whitesmoke;
    border-radius: 800px;
    box-shadow: whitesmoke 0 10px 20px -10px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 1 black;
    margin-right: 10px;
}